<h1>About</h1>
<p>I studied Business and Economics. After that, I founded a Startup and learned project management. I sold the company in mid 2017. I always enjoyed IT and now I want to become an IT Project Manager and Full-Stack Developer.</p>
