<% provide(:title, "About") %>

      <h1>Bike Düsseldorf</h1>
      <p class="contact">We are a professional Bike Shop based in Düsseldorf. <br><br>In our shop you can buy a huge amount of different bikes for different usages. <br><br>If you have any questions, we would like to help you. Just contact us.</p><br>