.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 5, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/products.scss */
h1 {
  padding-top: 0.5em;
}

/* line 9, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/products.scss */
h2 {
  color: #104E8B;
}

/* line 13, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/products.scss */
p {
  padding: 0.5em 0 0.5em 0;
}

/* line 17, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/products.scss */
.image {
  margin-right: auto;
  margin-left: auto;
}
/* line 1, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/**** navbar ****/
/* line 8, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
.carousel-inner img {
  margin: auto;
}

/* line 12, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
nav {
  width: 100%;
  letter-spacing: 0.05em;
  font-family: Merriweahter, Cambria, Georgia, serif;
  background-color: #E0EEEE;
  color: #104E8B;
  font-weight: bold;
  word-spacing: 1em;
}

/* line 22, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  height: 2em;
  padding-top: 0.8em;
}

/* line 30, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
#navigation {
  padding-top: 0.5em;
}

/* line 34, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
.search {
  padding-bottom: 1em;
  float: right;
}

/* line 39, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
#q {
  height: 1.75em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
  font-size: 1em;
}

/* line 46, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
#searchbutton {
  height: 2.4em;
  margin-bottom: 0.1em;
}

/**** footer ****/
/* line 54, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
.site-footer {
  color: #104E8B;
  background: #E0EEEE;
  height: 2em;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 2.4em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/**** general ****/
/* line 68, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #104E8B;
  text-align: center;
  font-family: Merriweahter, Cambria, Georgia, serif;
}

/* line 76, /Users/Patrick/Desktop/bikeshopdemo/app/assets/stylesheets/simple_pages.scss */
* {
  margin: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "products"
@import "simple_pages"
@import "scaffolds"

/**** contact ****/

.address h2 {
  font-size: 2em;
}

.address p {
  color: #104E8B;
  font-size: 1.5em;
  padding-top: 1em;
  line-height: 0em;
}

/**** product show ****/

.sayings {
  padding-left: 4em;
}

.digg_pagination {
  background: white;
  cursor: default;
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; 
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; 
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; 
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; 
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}


