// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding-top: 0.5em;
}

h2 {
  color: #104E8B;
}

p {
  padding: 0.5em 0 0.5em 0;
}
