// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**** navbar ****/

.carousel-inner img {
  margin: auto;
}

nav {
  width: 100%;
  letter-spacing: 0.05em;
  font-family: Merriweahter, Cambria, Georgia, serif;
  background-color: #E0EEEE;
  color: #104E8B;
  font-weight: bold;
  word-spacing: 1em;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  height: 2em;
  padding-top: 0.8em;
}

#navigation {
 padding-top: 0.5em; 
}

.search {
  padding-bottom: 1em;
  float: right;
}

#q {
  height: 1.75em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
  font-size: 1em;
}

#searchbutton {
  height: 2.4em;
  margin-bottom: 0.1em;
}


/**** footer ****/

.site-footer {
  color: #104E8B;
  background: #E0EEEE;
  height: 2em;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 2.4em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/**** general ****/

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #104E8B;
  text-align: center;
  font-family: Merriweahter, Cambria, Georgia, serif;
}

* {
  margin: 0;
}
